# Temp files
*~

# Build files
build/
bin/

# Dev testing
dev-testing/

# VS code configs
.vscode/
.venv/
__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
.pytest_cache/
dist/

# Output files
examples/*_output/
/benchmark-report.xml
/python_assemblage_benchmarks.csv
/python_mineral_benchmarks.csv
